ul.menu {
    list-style-type: none;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.menu > li.menu-element {
    float: left;
}

ul.menu > li.menu-element a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
ul.menu > li.menu-element a:hover {
    background-color: #4CAF50;
}


/* Change the link color to #111 (black) on hover */
ul.menu > li#active {
	background-color: #4CAF50;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
ul.menu > li.active {
	background-color: #4CAF50;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
ul.menu > li.user {
    float : right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}