<!DOCTYPE HTML>
<html>
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<spring:url value="/resources/core/css/hello.css" var="coreCss" />
<spring:url value="/resources/core/css/bootstrap.min.css"
	var="bootstrapCss" />
<!-- <link href="${bootstrapCss}" rel="stylesheet" /> -->
<!-- <link href="${coreCss}" rel="stylesheet" /> -->
<!-- <spring:url value="/resources/core/js/jquery.1.10.2.min.js" -->
<!-- 	var="jqueryJs" /> -->
<!-- <script src="${jqueryJs}"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}"/>
</head>
<body>
	<div th:replace="fragments/menu :: menu"></div>
	<p th:text="${message}"/>
	<p>Here you can try the database interactions of the application</p>
	<p>What do you wish to do?</p>
	<p> back to <a href="/">home</a>
	<div>
		<h1>Add a user to the database here... Note : For performance
			optimization, the request is made using ajax (does not reload the
			whole page but only the database adding part</h1>
		<form action="#" method="post" id="addUser" name="userForm">
			<fieldset>
				<div>
					<label th:text="Name">Name : </label> <input type="text"
						name="name" id="name" />
				</div>
				<div>
					<label th:text="Email">Email :</label> <input type="text"
						name="email" id="email"/>
				</div>

				<input type="submit" value="Submit" /> <input type="reset"
					value="Reset" />

			</fieldset>
		</form>
	</div>
		<div id="feedbackAdd"></div>

	<div>
		<p>Here you can query all the users from the database... Just try
			it!</p>
		<form class="form-horizontal" id="search-form">
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" id="bth-search"
						class="btn btn-primary btn-lg">Get All Users!</button>
				</div>

			</div>
		</form>
		
		<div id="feedback"></div>
		
	</div>
</body>

<script>
	jQuery(document).ready(function($) {

		$("#search-form").submit(function(event) {
			// Disble the search button
			enableSearchButton(false);

			// Prevent the form from submitting via the browser.
			event.preventDefault();

			searchAllViaAjax();

		});
		
		$("#addUser").submit(function(event) {
			// Disble the search button
			enableSearchButton(false);

			// Prevent the form from submitting via the browser.
			event.preventDefault();

			addViaAjax(jQuery("#name").val(), jQuery("#email").val());

		});

	});

	function searchAllViaAjax() {
		$.ajax({
			type : "POST",
			contentType : "application/json",
			url : "/h2db/getAll",
			dataType : 'json',
			timeout : 100000,
			success : function(data) {
				console.log("SUCCESS: ", data);
				display(data);
			},
			error : function(e) {
				console.log("ERROR: ", e);
				display(e);
			},
			done : function(e) {
				console.log("DONE");
				enableSearchButton(true);
			}
		});

	}


	function addViaAjax(name, email) {

		var search = {}
		search["username"] = $("#name").val();
		search["email"] = $("#email").val();
			
		$.ajax({
			type : "POST",
			contentType : "application/json",
			url : "/h2db/addAjax",
// 			data : $('form[name=userForm]').serialize(),
// 			data: {name: name, email: email},
			data : JSON.stringify(search),
			dataType : 'json',
			timeout : 100000,
			success : function(data) {
				console.log("SUCCESS: ", data);
				display(data);
			},
			error : function(e) {
				console.log("ERROR: ", e);
				display(e);
			},
			done : function(e) {
				console.log("DONE");
				enableSearchButton(true);
			}
		});

	}
	
	function enableSearchButton(flag) {
		$("#btn-search").prop("disabled", flag);
	}

	function display(data) {
		var json = "<h4>Ajax Response</h4><pre>"
				+ JSON.stringify(data, null, 4) + "</pre>";
		$('#feedback').html(json);
	}

// 	function searchViaAjax() {
// 		var search = {}
// 		search["username"] = $("#username").val();
// 		search["email"] = $("#email").val();

// 		$.ajax({
// 			type : "POST",
// 			contentType : "application/json",
// 			url : "${home}search/api/getSearchResult",
// 			data : JSON.stringify(search),
// 			dataType : 'json',
// 			timeout : 100000,
// 			success : function(data) {
// 				console.log("SUCCESS: ", data);
// 				display(data);
// 			},
// 			error : function(e) {
// 				console.log("ERROR: ", e);
// 				display(e);
// 			},
// 			done : function(e) {
// 				console.log("DONE");
// 				enableSearchButton(true);
// 			}
// 		});

// 	function enableSearchButton(flag) {
// 		$("#btn-search").prop("disabled", flag);
// 	}

// 	function display(data) {
// 		var json = "<h4>Ajax Response</h4><pre>"
// 				+ JSON.stringify(data, null, 4) + "</pre>";
// 		$('#feedback').html(json);
// 	}

</script>
</html>