
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
  layout:decorate="base">
<head>
</head>
<body>

<th:block layout:fragment="page_content" id="page_content">
 <h1> Welcome to my Spring web application show-case! </h1>
 
	<h4> So... What's in there? </h4>
	
	<div class="container-border">
	<p> I've tried to incorporate the best technologies available at the moment... Here are some of them : </p>
	<ul>
	<li> The project is built upon Spring MVC + Spring Boot for Java </li>
	<li> The security and log in management is assured by <strong><a href="https://spring.io/projects/spring-security">Spring Security</a></strong> </li>
	<li> Project building and dependencies management with <strong><a href="https://maven.apache.org/">Maven</a></strong></li>
	<li> For database access, I use <strong><a href="https://hibernate.org/">Hibernate</a></strong></li>
	<li> Queries are made with <strong><a href="https://en.wikipedia.org/wiki/Ajax_(programming)">Ajax</a></strong> to reload only a portion of the page and enhance performances</li>
	<li><strong><a href="https://www.thymeleaf.org/">Thymeleaf</a></strong> handles pages layout and data binding</li>
	</ul>
</th:block>
	
</body>
</html>