<!DOCTYPE HTML>
<html>
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<head>
<link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}" />
</head>
<body>
	<div th:fragment="menu">
	
	<ul class="menu">
   		<th:block th:each="menuElement : ${@menu.getMenuElements()}">
   			<li th:class="${menuElement.getMenuClass()}" th:id="${menuElement.getActive()}"><a th:href="@{${menuElement.getHRef()}}" th:text="${menuElement.getMenuTitle()}"></a>
   		</th:block>
		<li class="user" th:if="${#httpServletRequest.remoteUser != null}"> 
        <form th:action="@{/logout}" method="post">
           <input type="submit" value="Sign Out"/>
        </form> 
        </li>
		<li class="user" th:if="${#httpServletRequest.remoteUser != null}"> 
			You are currently logged in as <th:block th:text="${#httpServletRequest.remoteUser}"/>
        </li>
			<li class="user" th:if="${#httpServletRequest.remoteUser == null}">You are not currently logged in. Do you want to <a th:href="@{/login/login}">log in</a>?</li>
		</ul>
	</div>
</body>
</html>